{% extends "top.html" %}

{% block title %}Manage Course{% endblock %}

{% block content %}
<div class="main col-xs-12">
	<div class="wrapper">
		<div class="col-xs-9 table-list no-padding">
			<div class="content">
				<div class="course-list title first">
					<h3><small>Course: {{ course.name }}</small></h3>
				</div>
				<ul id="sortable" class="sortable no-padding">
					{% for module in modules %}
					<li class="bg-alt{% if forloop.last %} last{% endif %}" data-id="{{ module.id }}"><div class="drag-handle"><i class="fa fa-bars"></i></div><a href="/course/{{ course.id }}/module/{{ module.id }}">Module: {{ module.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-xs-3 text-right">
			<div class="form-group">
				<a href="/course/{{ course.id }}/{% if course.is_open == 0 %}open{% elif course.is_open == 1 %}close{% endif %}" class="btn btn-default">{% if course.is_open == 0 %}Open{% elif course.is_open == 1 %}Close{% endif %} Course</a>
			</div>
			<div class="form-group">
				<a href="/course/{{ course.id }}/module/add" class="btn btn-default">Add More Modules</a>
			</div>
			<div class="form-group">
				<button type="button" id="save-order" class="btn btn-default">Save Order of Modules</button>
			</div>
			<div class="form-group">
				<a href="/" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
</div>
<script>
	var sortable = document.getElementById('sortable');
	Sortable.create(sortable, {
		handle: '.drag-handle'
	});

	$('#save-order').on('click', function(e) {
		var orderList = [];
		$('#sortable li').each(function(e) {
			orderList.push($(this).data('id'));
		});
		$.ajax({
			method: 'post',
			url: '/course/{{ course.id }}/save_order',
			data: 'order=' + JSON.stringify(orderList),
			complete: function(rs) {
				location.reload();
			}
		});
	});
</script>
{% endblock %}
