{% extends "top.html" %}

{% block title %}New Category{% endblock %}

{% block content %}
<div class="col-xs-12">
	<form action="./add" method="post">{% csrf_token %}
		<div class="container form-box">
			<div class="form-group sub-title">
				<label>Name of the Category:</label>
				<input class="form-control" name="name">
			</div>
			<div class="form-group text-right">
				<a href="./list" class="btn btn-danger">Cancel</a>
				<input type="submit" class="btn btn-success" value="Add New Category">
			</div>
		</div>
	</form>
</div>
{% endblock %}
