{% extends "./component.html" %}

{% block title %}Manage Youtube{% endblock %}

{% block componentContent %}
<div class="form-group">
	{% if youtube.video %}
	{% load embed_video_tags %}
	{% video youtube.video as my_video %}
	<div class="row">
		<img class="col-xs-6" src="{{ my_video.thumbnail }}" />
	</div>
	{% endvideo %}
	{% endif %}
</div>
<div class="form-group">
	<label>Youtube Link:</label>
	<input type="text" name="video" class="form-control" value="{{ youtube.video }}">
</div>
{% endblock %}
